{% extends "layout.html" %}
{% block content %}
    <div class="home-bg">
        <h2>API сайта</h2>
        <h4>1. Синтаксис запроса</h4>
        <a>Чтобы обратиться к методу API, Вам необходимо выполнить GET запрос такого вида:</a>
        <div class="content-section"> https://site.name/<b>METHOD_NAME</b>?<b>PARAMETERS</b> </div>
        <p><a><b>METHOD_NAME</b> (Обязательно) - Имя метода, к которому производится обращение.</a><br>
        <a><b>PARAMETERS</b> (Опционально) - Входные параметры соответствующего метода, пары name=value, разделенные амперсандом (&).
        Список параметров указан в соответствии с каждым методом.</a></p>
        <h4>2. Имеющиеся методы</h4>
        <h5>Метод get_info</h5>
        <a>Возвращает информацию о номере телефона в формате JSON.</a><br>
        <a><b>Параметры:</b></a>
        <ul>
            <li><b>phone</b> - номер телефона. Строка из 10 или 11 чисел без лишних символов. Если в строке 11 символов, предполагается, что первый символ - это международный код, 7 или 8. Он автоматически отбрасывается.</li>
        </ul>
        <a>Пример запроса:</a>
        <div class="content-section"> https://site.name/<b>get_info</b>?<b>phone=3012115678</b> </div>
        <a>Пример ответа: </a>
        <div class="content-section"> {"code": "ok","provider": "ПАО "Ростелеком"","region": "Республика Бурятия","location": "г. Улан-Удэ"} </div>
        <a><b>Параметры ответа:</b></a>
        <ul>
            <li><b>code</b> - код результата. Успешно - "ok", запрос не является номером - "nan" (Not A Number), номер отсутствует в базе данны - "ne" (Not Exist).</li>
            <li><b>provider</b> - Наименование провайдера.</li>
            <li><b>region</b> - Наименование региона.</li>
            <li><b>location</b> - Более точное место, к которому привязан номер. В базе данных полная локация записывается как %location%|%region%</li>
        </ul>
        <br>
        <h5>Метод get_phones</h5>
        <a>Возвращает список номеров, соответствующий критериям.</a><br>
        <a><b>Параметры:</b></a>
        <ul>
            <li><b>region_id</b> - идентификационный номер региона в соответствии со списком, представленным на сайте.</li>
            <li><b>provider_id</b> - идентификационный номер провайдера в соответствии со списком, представленным на сайте.</li>
            <li><b>count</b> - число запрашиваемых телефонных номеров для генерации.</li>
        </ul>
        <a>Пример запроса:</a>
        <div class="content-section"> https://site.name/<b>get_phones</b>?<b>region_id=59</b>&<b>provider_id=58</b>&<b>count=10</b> </div>
        <a>Пример ответа: </a>
        <div class="content-section"> 9580498172<br>
            9580497945<br>
            3012201432<br>
            3012200995<br>
            9580498789<br>
            9580495634<br>
            3012201643<br>
            9580492048<br>
            3012201637<br>
            3012200832 </div>
        <a>Если с заданными параметрами невозможно сгенерировать номера телефонов, выдаст ошибку.</a>
    </div>

{% endblock content %}